@import 'react-datepicker/dist/react-datepicker.css';
@import '../../assets/stylesheets/common.scss';

@media print {
  .pagebreak {
    page-break-before: always;
  }
}

@layer components {
  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker-popper[data-placement^='bottom'],
  .react-datepicker-popper[data-placement^='top'] {
    .react-datepicker__triangle {
      left: 50%;
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
