= f.text_field :email, autofocus: true, autocomplete: "email", label: 'Email address', placeholder: 'Enter email', class: 'mb-3'
= f.text_field :first_name, label: 'First name', placeholder: 'First name', class: 'mb-3'
= f.text_field :last_name, label: 'Last name', placeholder: 'Last name', class: 'mb-3'

- options = User::GENDERS.map do |gender| [gender, gender.humanize] end
= f.radio_field :gender, options: options, class: 'mb-3'

= f.date_field :born_at, label: 'Born at', placeholder: 'Born at', class: 'mb-3'

= f.password_field :password, label: 'Password', placeholder: 'Password', class: 'mb-3'
= f.password_field :password_confirmation, label: 'Password confirmation', placeholder: 'Password confirmation', class: 'mb-3'
