.page
  .container-tight.py-4
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, builder: TablerFormBuilder) do |f|
      .card.card-md
        .card-body
          = render 'fields', f: f

          .form-footer
            = f.submit "Update profile", class: 'btn btn-primary w-100'

    - if resource.discord_pairings.any?
      .card.card-md.mt-4
        .card-header Discord id
        .list-group.list-group-flush
          - resource.discord_pairings.each do |p|
            .list-group-item
              .row.align-items-center
                .col-auto= p.discord_id
                .col-auto.ms-auto
                  = button_to discord_pairing_path(p), method: :delete, class: 'btn btn-sm btn-ghost-danger' do
                    %i.svg-inline--fa.fa.fa-times.icon
                    Unlink
