.page.page-center
  .container-tight.py-4
    = render 'devise/shared/header'

    = form_for(resource, as: resource_name, url: registration_path(resource_name), builder: TablerFormBuilder) do |f|
      .card.card-md
        .card-body
          %h2.card-title.text-center.mb-4
            Create new account

          - flash.any? do
            .space-y-2.mb-4
              - flash.each do |key, value|
                %div{class: cx('alert mb-0', alert_class(key))}= value

          = render 'fields', f: f

          .form-footer
            = f.submit "Create new account", class: 'btn btn-primary w-100'

    .text-center.text-muted.mt-3
      Already have an account?
      = link_to "Sign in", new_user_session_path

