.text-center.mb-4
  .navbar-brand(style="font-size: 1.5rem; line-height: 1.75rem;")
    - if site_logo
      = image_tag site_logo
    - else
      %i.svg-inline--fa.fa.fa-mountain(style="vertical-align: -0.125em; width: 1em; height: 1em;")
      Opencamp
