<div style="display: none">
<%=
active_admin_form_for :import, url: import_submit_admin_attendances_path do |f|
  f.inputs do
    f.input :data
  end
  f.actions
end
%>
</div>

<div id="attendance-import-preview" data-data="<%= @attendances.to_json %>">
