<%=
active_admin_form_for :import, url: import_preview_admin_attendances_path do |f|
  f.inputs do
    f.input :file, as: :file
  end
  f.actions do
    f.action :submit, label: 'Preview changes'
  end
end
%>

<script>
document.body.classList.add('new');
</script>
