<div class="panel">
  <div class="panel_contents">
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Paid amount</th>
          <th>Should pay amount</th>
          <th>State</th>
          <% @requirements.each do |requirement| %>
            <th><%= requirement.position + 1 %></th>
            <% requirement.onboarding_requirement_inputs.each do |input| %>
              <th><%= input.key %></th>
            <% end %>
          <% end %>
        </tr>
      </th>
      <tbody>
        <% @child_attendances.to_a.each do |attendance| %>
        <tr>
          <td><%= attendance.user.full_name %></td>
          <td><%= attendance.paid_amount %></td>
          <td><%= attendance.should_pay_amount %></td>
          <td>
            <%= attendance.attendance_onboarding_requirements.length %> / <%=
            @requirements.count %></td>
          <% @requirements.each do |requirement| %>
            <td>
            <% r = attendance.attendance_onboarding_requirements.select{|a| a.onboarding_requirement_id == requirement.id}.first %>
            <% if r.nil? %>
              <span class="status_tag no">&dash;</span>
            <% else %>
              <span class="status_tag yes">&check;</span>
            <% end %>
            </td>
            <% requirement.onboarding_requirement_inputs.each do |input| %>
              <td><%= r.nil? ? '' : r.data[input.key] %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
document.body.classList.add('index');
</script>
