= vite_typescript_tag 'timetable.tsx'

%div{data: {"bs-theme" => params[:variant] === "light" ? "light" : "dark" }}
  .card.tw-rounded-none.tw-min-h-screen
    #timetable{data: {timetable: @timetable_data.to_json}}
