<% require 'csv' %>
<style>
  table td {
    font-family: monospace;
    padding: 20px;
  }
</style>
<table>
  <tbody>
  <% CSV.foreach('./gen_pw.csv', { col_sep: ';', headers: true, header_converters: :symbol }) do |record| %>
    <tr>
      <td><%= record[:first_name] %></td>
      <td><%= record[:last_name] %></td>
      <td><%= record[:username] %></td>
      <td><%= record[:password] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
