.page-wrapper
  .page-body
    .container-lg
      = render 'devise/shared/header'

      = form_for(resource, as: resource_name, url: password_path(resource_name), builder: TablerFormBuilder, html: { method: :put }) do |f|
        = f.hidden_field :reset_password_token
        .card
          .card-header
            .card-title
              Change your password

          .card-body
            - flash.any? do
              .space-y-2.mb-4
                - flash.each do |key, value|
                  %div{class: cx('alert mb-0', alert_class(key))}= value

            = f.password_field :password, autofocus: true, autocomplete: "password"
            = f.password_field :password_confirmation, autofocus: true, autocomplete: "password_confirmation"

            = f.submit "Change my password", class: 'btn btn-primary w-full mt-4'
