.page.page-center
  .container-tight.py-4
    = render 'devise/shared/header'

    = form_for(resource, as: resource_name, url: password_path(resource_name), builder: TablerFormBuilder) do |f|
      .card.card-md
        .card-body
          %h2.card-title.text-center.mb-4
            Forgot password

          %p.text-muted.mb-4
            Enter your username or email address and instructions for your password reset will be emailed to you.

          - flash.any? do
            .space-y-2.mb-4
              - flash.each do |key, value|
                %div{class: cx('alert mb-0', alert_class(key))}= value

          = f.text_field :username, autofocus: true, autocomplete: "email", label: 'Username or email', placeholder: 'Enter username or email', class: 'mb-3'

          .form-footer
            = f.submit "Send me instructions", class: 'btn btn-primary w-100'

    .text-center.text-muted.mt-3
      Forget it, send me back to the #{link_to "sign in", new_user_session_path} screen.
