@tailwind utilities;

:root {
  --opc-coin: gold;
  --opc-primary: orange;
  --opc-primary-dark: #e69500;
  --opc-instructor: #c05621;
  --opc-child: #4a5568;
  --opc-instructor-lt: rgb(192, 86, 33, 0.05);
  --opc-child-lt: rgb(74, 85, 104, 0.05);
}
.text-coin {
  color: var(--opc-coin);
}
.text-primary {
  color: var(--opc-primary);
}
.text-primary-dark {
  color: var(--opc-primary-dark);
}
.text-instructor {
  color: var(--opc-instructor);
}
.text-child {
  color: var(--opc-child);
}
.bg-coin {
  background-color: var(--opc-coin);
}
.bg-primary {
  background-color: var(--opc-primary);
}
.bg-primary-dark {
  background-color: var(--opc-primary-dark);
}
.bg-instructor {
  background-color: var(--opc-instructor);
}
.bg-child {
  background-color: var(--opc-child);
}
.bg-instructor-lt {
  background-color: var(--opc-instructor-lt);
}
.bg-child-lt {
  background-color: var(--opc-child-lt);
}

.scroll-shadow {
  position: absolute;
  left: -10px;
  z-index: 2020; // get above tablers sticky table group header
  height: 10px;
  width: calc(100% + 20px);
  box-shadow: 0 0 1rem rgba(black, 0.175);
  transition: opacity 0.15s;

  &--top {
    top: -10px;
  }

  &--bottom {
    bottom: -10px;
  }
}
