%div.tw-p-5.tw-flex.tw-flex-col.tw-justify-center
  - workgroups.map.with_index do |workgroup, i|
    - next if workgroup.attendances_count == 0

    %div.tw-flex.tw-flex-row.tw-items-center.tw-m-5.tw-p-2.tw-border.tw-border-black.tw-border-solid.tw-text-center{style: 'page-break-before: auto;'}
      %div.tw-w-32.tw-font-bold.tw-text-2xl.tw-py-2= workgroup.name
      %div.tw-flex.tw-flex-wrap
        - workgroup.attendances.joins(:user).order('users.last_name ASC').map do |attendance|
          %div.tw-py-1.tw-px-4
            = [attendance.user.first_name, attendance.user.last_name].join(' ')
