%div.float-left.p-5
  - workgroups.map.with_index do |workgroup, i|
    - next if workgroup.attendances_count == 0

    %div.float-left.w-64.h-full.m-5.p-2.border.border-solid.text-center{style: 'page-break-before: auto;', class: (body_variant == 'dark' ? 'border-white' : 'border-black')}
      %div.font-bold.text-2xl.py-2= workgroup.name
      - workgroup.attendances.joins(:user).order('users.last_name ASC').map do |attendance|
        %div.py-1
          = [attendance.user.first_name, attendance.user.last_name].join(' ')

    - if (i + 1) % 6 == 0
      %div.pagebreak
