.page.page-center
  .container-tight.py-4
    = render 'devise/shared/header'

    = form_for(resource, as: resource_name, url: session_path(resource_name), builder: TablerFormBuilder) do |f|
      .card.card-md
        .card-body
          %h2.card-title.text-center.mb-4
            Login to your account

          - flash.any? do
            .space-y-2.mb-4
              - flash.each do |key, value|
                %div{class: cx('alert mb-0', alert_class(key))}= value

          = f.text_field :email, autofocus: true, label: 'Username or email', autocomplete: "email", class: 'mb-3', placeholder: 'Enter email or password'
          = f.password_field :password, class: 'mb-2', autocomplete: "current-password", placeholder: 'Password',
            label: ("Password" + content_tag(:span, link_to("I forgot password", new_user_password_path), class: 'form-label-description')).html_safe

          = f.check_field :remember_me, label: 'Remember me', class: 'mb-2'

          .form-footer
            = f.submit "Sign in", class: 'btn btn-primary w-100'

    .text-center.text-muted.mt-3
      Don't have account yet?
      = link_to "Sign up", new_user_registration_path, 'tabindex': -1
