%div.tw-float-left.tw-p-5
  - rooms.map.with_index do |room, i|
    - next if room.attendances_count == 0

    %div.tw-float-left.tw-w-64.tw-h-72.tw-m-5.tw-p-2.tw-border.tw-border-solid.tw-text-center{style: 'page-break-before: auto;', class: (body_variant == 'dark' ? 'border-white' : 'border-black')}
      %div.tw-font-bold.tw-text-2xl.tw-py-2= room.name
      - room.attendances.map do |attendance|
        %div.tw-py-1
          = [attendance.user.first_name, attendance.user.last_name].join(' ')

    - if (i + 1) % 6 == 0
      %div.tw-pagebreak
