%div.tw-flex.tw-flex-wrap.tw-p-5
  - rooms.map.with_index do |room, i|
    - next if room.instructor_only
    %div.tw-flex.tw-justify-between.tw-w-64.tw-px-5.tw-m-5.tw-p-2.tw-border.tw-border-solid.tw-text-center{style: 'page-break-before: auto;', class: (body_variant == 'dark' ? 'border-white' : 'border-black')}
      %div.tw-font-bold.tw-text-2xl.tw-py-2= room.name
      %div.tw-font-bold.tw-text-2xl.tw-py-2 #{room.room_scores.order(created_at: :desc).first&.score || 0} / ∑#{room.room_scores.pluck(:score).sum}
