@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'arctic_admin/base';
@import 'activeadmin_addons/all';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import './common.scss';

$primary-color: orange;

.active_admin {
  a {
    &:hover {
      color: $primary-color;
    }
  }
}

.capacity-ok {
  color: green;
}

// fix for model "Label"
.formtastic.label {
  display: inline;
}

.capacity-problem {
  color: red;
}

.status_tag {
  &.yes {
    background-color: limegreen;
  }

  &.no {
    background-color: orangered;
  }
  &.maybe {
    background-color: darkgoldenrod;
  }
}

.label_tag {
  padding: 5px;
  margin: 5px;
  width: fit-content;
  border-radius: 10px;

  .label_tag_light {
    color: dimgray;
    &:hover {
      color: dimgray;
    }
  }

  .label_tag_dark {
    color: azure;
    &:hover {
      color: azure;
    }
  }
}

.site_title {
  &:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 0.2em;
    content: '\f6fc';
  }
}

// Styles for icons on top right
.header #utility_nav {
  display: flex;
  align-items: stretch;
  justify-items: flex-end;

  .menu_item a {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 576px) {
  .header #utility_nav {
    font-size: 20px;
  }
}

// Main menu styles
.header #tabs {
  .menu_item:not(.has_nested) {
    &.current {
      a {
        color: $primary-color;
      }
    }
  }
}

.pagination_per_page {
  width: 25%;
}

#index_table_attendances .col-note {
  max-width: 300px;
}

.json-editor {
  font-family: monospace;
}
.mailers-preview-body {
  border: 1px solid #eee;
  padding: 5px;
}

td.col-paid_amount,
td.col-should_pay_amount {
  text-align: right;
}

body.index .scopes .scope a {
  margin-right: 0;
}

.batch_actions_selector + .scopes {
  margin-top: 0.25rem;
}

.panel + .panel {
  margin-top: 20px;
}
