.gender {
  font-size: 1.2em;
  color: white;

  &.gender-male {
    background-color: #32a1ff;
  }

  &.gender-female {
    background-color: #bb01cc;
  }

  &.gender-unknown {
    background-color: orange;
  }
}
