.container.mx-auto.my-8
  .box.max-w-sm.grow
    .px-6.py-4.border-b Uploads
    .px-6.pt-4
      = render 'form'

    .border.border-gray-300.border-t-0.relative.flex.items-center.justify-center.my-4

    .px-6
      - @uploads.reject(&:new_record?).map do |upload|
        .pb-4.flex.items-center
          .mr-4
            = file_type_icon upload.file
          .grow
            = link_to upload.file_name, rails_blob_path(upload.file, disposition: 'preview'), class: 'link', target: :_blank
            %p.text-sm.text-gray-600= number_to_human_size upload.byte_size
          .flex.gap-4
            = link_to rails_blob_path(upload.file, disposition: 'attachment') do
              = icon 'fa', 'download'
            = button_to upload_path(upload), method: :delete do
              = icon 'fa', 'trash-alt'
