%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
%title= site_title
= csrf_meta_tags
= csp_meta_tag

= favicon_link_tag vite_asset_path('assets/images/favicon.png')

= vite_client_tag
= vite_react_refresh_tag
= vite_stylesheet_tag 'assets/styles/tabler.scss'
= vite_stylesheet_tag 'assets/styles/custom.scss'
= vite_typescript_tag 'application.tsx'
= vite_typescript_tag 'vite-plugin-checker-runtime' if Rails.env.development?
= vite_typescript_tag 'icons.ts'

:javascript
  FontAwesomeConfig = {
    replacementClass: '',
    autoAddCss: false,
  }
