- is_header = defined?(is_header) ? is_header : false
- is_highlighted = defined?(is_highlighted) ? is_highlighted : false
- border = if is_highlighted then body_variant == 'dark' ? 'border-white' : 'border-black' else '' end
- item_font = if is_header then 'text-2xl' else '' end

%div.flex.flex-wrap
  %div.h-12.w-24.flex.items-center.p-4{class: cx(border, is_highlighted ? 'border-l border-t border-b' : '')}= defined?(time) ? time : nil
  %div.h-12.flex.items-center.p-4{style: 'width: 10rem;', class: cx(border, is_highlighted ? 'border-r border-t border-b' : '')}= defined?(title) ? title : nil
  %div.h-12.flex-grow.flex.justify-between.items-center
    - items.map do |item|
      %div.h-12.w-full.flex.items-center.justify-center.font-bold{{class: cx(border, (is_highlighted ? ' border-r border-t border-b' : ''), item_font)}}= item
