<p>
  <%= raw(@active_admin_import_model.hint) %>
</p>
<%= semantic_form_for @active_admin_import_model, url: {action: :do_import}, html: {multipart: true} do |f| %>
  <%= f.inputs do %>
    <%= f.input :file, as: :file %>
  <% end %>
  <%= f.inputs "CSV options", for: [:csv_options, OpenStruct.new(@active_admin_import_model.csv_options)] do |csv| %>
    <% csv.with_options input_html: {style: 'width:40px;'} do |opts| %>
      <%= opts.input :col_sep %>
      <%= opts.input :row_sep %>
      <%= opts.input :quote_char %>
    <% end %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: t("active_admin_import.import_btn"), button_html: {disable_with: t("active_admin_import.import_btn_disabled")} %>
  <% end %>
<% end %>
