<table>
  <thead>
  </thead>
  <tbody>
  <tr><td>subject:</td><td><%= @delivery.subject %></td></tr>
  <tr><td>to_email:</td><td><%= @delivery.to_email %></td><tr>
  <tr><td>from_email:</td><td><%= @delivery.from_email %></td></tr>
  <tr><td>from_name:</td><td><%= @delivery.from_name %></td></tr>
  <tr><td>cc_email:</td><td><%= @delivery.cc_email %></td></tr>
  <tr><td>bcc_email:</td><td><%= @delivery.bcc_email %></td></tr>
  <tr><td>reply_to_email:</td><td><%= @delivery.reply_to_email %></td></tr>
  </tbody>
</table>

<div class="mailers-preview-body">
  <%= content_tag 'pre', @delivery.body %>
</div>
